In [ ]:
cars = ['porshe' , 'mahindra' , 'tata' ]
cars[2] = 'bmw'
print(cars)

numbers = [10,20,30,40,50,60]
numbers.append(2)
numbers.insert(0,66)
print(numbers)


print('length , max , min of numbers respectively = ',len(numbers),
max(numbers),
min(numbers))

for i in numbers :
   print(i)

['porshe', 'mahindra', 'bmw']
[66, 10, 20, 30, 40, 50, 60, 2]
length , max , min of numbers respectively =  8 66 2
66
10
20
30
40
50
60
2
0 66
1 10
2 20
3 30
4 40
5 50
6 60
7 2

In [ ]:
for i in range(len(numbers)):
   print(i,numbers[i])

0 66
1 10
2 20
3 30
4 40
5 50
6 60
7 2

In [ ]:
evens=[x for x in numbers if x%2 == 0]
print(evens)

[66, 10, 20, 30, 40, 50, 60, 2]

In [ ]:
squares=[x**2 for x in numbers]
print(squares)

[4356, 100, 400, 900, 1600, 2500, 3600, 4]

In [ ]:
newlist = [x for x in range(20) ]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
evensinnewlist = [x for x in newlist if x % 2 == 0 ]
print(evensinnewlist)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
odds = [x for x in newlist if x % 2 != 0 ]
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
squaredevens=[x**2 for x in evensinnewlist ]
print(squaredevens)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
list2 = [0,0,0,2,3,5,4,0,0,0]
list2=[ x for x in list2 if x!=0]+[x for x in list2 if x==0]
print(list2)

[2, 3, 5, 4, 0, 0, 0, 0, 0, 0]

In [ ]:
n = 10
a,b =0,1
fib = [a,b]
for i in range(n-2):
  c=a+b
  fib.append(c)
  a=b
  b=c
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
n1 = int(input("Enter any number = "))
sum = 0
temp = n1
digits = len(str(n1))

while temp > 0 :
  dig = temp%10
  sum= sum + dig**digits
  temp = temp // 10

if sum == n1 :
   print("armstrong number")
else :
  print("not an armstrong number")

Enter any number = 9474
armstrong number

In [ ]:
newtuple = ( 29,40,50 )
print(newtuple[1])

In [ ]:
user = ("Suhaib", 22 ,"Data Science Intern")
def iQuasar_user():
  return user

name , age , position = iQuasar_user()
print(name , age , position)
print(name)
print(age)
print(position)
print(user[1])

Suhaib 22 Data Science Intern
Suhaib
22
Data Science Intern
22

In [ ]:
x = ( 2 , 4)
y = (3 , 5)
x,y = y,x
print(x,y)

(3, 5) (2, 4)

In [ ]:
s1 = {1,3,3,3,5,6,8,4,6,8,3,3}
s1.add(9)
s1.remove(6)
print(s1)

s2 = {4,9,6,7,0,8,5,3,2,5,3,6}
print("union of s1 and s2 = " , s2.union(s1))
print("intersection of s1 and s2 = " , s2.intersection(s1))
print("difference of s1 and s2 = " , s2.difference(s1))
print(s1|s2)

{1, 3, 4, 5, 8, 9}
union of s1 and s2 =  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection of s1 and s2 =  {3, 4, 5, 8, 9}
difference of s1 and s2 =  {0, 2, 6, 7}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
mydict =[ {'name' : 'Suhaib' , 'age' : 22 , 'position' : 'Data Science Intern' },
         { 'name2' : 'Musaib' , 'age' : 22 ,'position' : 'Data Science Intern' } ]
print(mydict[0])
mydict[0]['age'] = 25
print(mydict)  
mydict.remove(mydict[1])
print(mydict)

{'name': 'Suhaib', 'age': 22, 'position': 'Data Science Intern'}
[{'name': 'Suhaib', 'age': 25, 'position': 'Data Science Intern'}, {'name2': 'Musaib', 'age': 22, 'position': 'Data Science Intern'}]
[{'name': 'Suhaib', 'age': 25, 'position': 'Data Science Intern'}]