#
The goal of this notebook is to acquire data efficiently using SQL by querying relational databases. This includes writing SQL queries to retrieve relevant data, filtering, handling missing or inconsistent records, and preparing the extracted data for further analysis and reporting..

In [35]:
import sqlite3
import pandas as pd

In [36]:
import sqlite3
import pandas as pd


conn = sqlite3.connect("car_sales.db")
cursor = conn.cursor()

df = pd.read_csv("used_cars.csv")

df.to_sql("used_cars", conn, if_exists="replace", index=False)

df_sql = pd.read_sql("SELECT * FROM used_cars LIMIT 10;", conn)
df_sql

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,None,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,None,"$34,999"
5,Acura,ILX 2.4L,2016,"136,397 mi.",Gasoline,2.4 Liter,F,Silver,Ebony.,None reported,None,"$14,798"
6,Audi,S3 2.0T Premium Plus,2017,"84,000 mi.",Gasoline,292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Black,None reported,Yes,"$31,000"
7,BMW,740 iL,2001,"242,000 mi.",Gasoline,282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,A/T,Green,Green,None reported,Yes,"$7,300"
8,Lexus,RC 350 F Sport,2021,"23,436 mi.",Gasoline,311.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Black,None reported,Yes,"$41,927"
9,Tesla,Model X Long Range Plus,2020,"34,000 mi.",None,534.0HP Electric Motor Electric Fuel System,A/T,Black,Black,None reported,Yes,"$69,950"

In [37]:
ford_cars = pd.read_sql("SELECT * FROM used_cars WHERE brand = 'Ford';", conn)
ford_cars

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Ford,F-150 XLT,2023,"2,823 mi.",Gasoline,3.5L V6 24V PDI DOHC Twin Turbo,Automatic,Iconic Silver Metallic,Black,None reported,Yes,"$58,504"
2,Ford,Mustang GT Premium,2014,"37,060 mi.",Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,6-Speed M/T,Black,Black,None reported,Yes,"$28,500"
3,Ford,Utility Police Interceptor Base,2013,"105,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,A/T,White,Black,At least 1 accident or damage reported,Yes,"$6,600"
4,Ford,Transit Connect XLT,2015,"194,454 mi.",Gasoline,169.0HP 2.5L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Black,None reported,Yes,"$9,888"
...,...,...,...,...,...,...,...,...,...,...,...,...
381,Ford,F-250 Lariat,2011,"153,818 mi.",Diesel,400.0HP 6.7L 8 Cylinder Engine Diesel Fuel,6-Speed A/T,Gray,Gray,At least 1 accident or damage reported,Yes,"$29,800"
382,Ford,Bronco Badlands Advanced,2022,"17,000 mi.",Gasoline,315.0HP 2.7L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,White,Black,None reported,Yes,"$69,999"
383,Ford,EcoSport SES,2019,"106,000 mi.",Gasoline,166.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Silver,Black,At least 1 accident or damage reported,Yes,"$12,000"
384,Ford,F-150 Lariat,2018,"65,441 mi.",Gasoline,325.0HP 2.7L V6 Cylinder Engine Gasoline Fuel,A/T,Gray,Black,None reported,Yes,"$38,000"
385,Ford,F-150 Raptor,2020,"33,000 mi.",Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,None reported,Yes,"$62,999"

In [38]:
model = int(input("Enter the model year to filter cars: "))

query = f"SELECT * FROM used_cars WHERE model_year = {model};"
result = pd.read_sql(query, conn)
result

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Kia,Sorento SX,2011,"171,000 mi.",Gasoline,276.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Black,Black,None reported,Yes,"$5,999"
1,Bentley,Continental GTC Base,2011,"20,200 mi.",E85 Flex Fuel,552.0HP 6.0L 12 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,None reported,Yes,"$79,950"
2,Audi,A5 2.0T Premium,2011,"92,203 mi.",Gasoline,211.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Red,Beige,None reported,Yes,"$9,995"
3,Chevrolet,Express 1500 Work Van,2011,"93,009 mi.",E85 Flex Fuel,5.3L V8 16V MPFI OHV Flexible Fuel,4-Speed Automatic,Summit White,Medium Pewter,None reported,Yes,"$22,495"
4,GMC,Acadia SLT-1,2011,"120,000 mi.",Gasoline,288.0HP 3.6L V6 Cylinder Engine Gasoline Fuel,6-Speed A/T,Silver,Gray,None reported,Yes,"$7,500"
...,...,...,...,...,...,...,...,...,...,...,...,...
119,BMW,535 i xDrive,2011,"100,780 mi.",Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,8-Speed A/T,Gray,Black,At least 1 accident or damage reported,Yes,"$12,000"
120,Chevrolet,Cruze LS,2011,"135,603 mi.",Gasoline,136.0HP 1.8L 4 Cylinder Engine Gasoline Fuel,A/T,Silver,Black,None reported,Yes,"$7,000"
121,Jaguar,XF Premium,2011,"35,134 mi.",Gasoline,385.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,A/T,Gray,Gray,At least 1 accident or damage reported,Yes,"$12,400"
122,Ford,F-250 Lariat,2011,"153,818 mi.",Diesel,400.0HP 6.7L 8 Cylinder Engine Diesel Fuel,6-Speed A/T,Gray,Gray,At least 1 accident or damage reported,Yes,"$29,800"
123,Volkswagen,Routan SE,2011,"194,000 mi.",Gasoline,283.0HP 3.6L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Gray,At least 1 accident or damage reported,Yes,"$3,500"

In [39]:
# Count NULLs in each column
nulls = pd.read_sql("""
SELECT
    SUM(CASE WHEN brand IS NULL OR brand = '' THEN 1 ELSE 0 END) AS brand_null,
    SUM(CASE WHEN model IS NULL OR model = '' THEN 1 ELSE 0 END) AS model_null,
    SUM(CASE WHEN model_year IS NULL THEN 1 ELSE 0 END) AS model_year_null,
    SUM(CASE WHEN milage IS NULL THEN 1 ELSE 0 END) AS milage_null,
    SUM(CASE WHEN fuel_type IS NULL OR fuel_type = '' THEN 1 ELSE 0 END) AS fuel_type_null,
    SUM(CASE WHEN price IS NULL THEN 1 ELSE 0 END) AS price_null,
    SUM(CASE WHEN accident IS NULL OR accident = '' THEN 1 ELSE 0 END) AS accident_null
FROM used_cars;
""", conn)

nulls

,brand_null,model_null,model_year_null,milage_null,fuel_type_null,price_null,accident_null
0,0,0,0,0,170,0,113

In [40]:
missing_fuel = pd.read_sql("""
SELECT *
FROM used_cars
WHERE fuel_type IS NULL OR fuel_type = '';
""", conn)

missing_fuel

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Tesla,Model X Long Range Plus,2020,"34,000 mi.",None,534.0HP Electric Motor Electric Fuel System,A/T,Black,Black,None reported,Yes,"$69,950"
1,Lucid,Air Grand Touring,2022,"3,552 mi.",None,536.0HP Electric Motor Electric Fuel System,1-Speed A/T,Red,Beige,None reported,Yes,"$119,999"
2,Lucid,Air Grand Touring,2022,"4,900 mi.",None,536.0HP Electric Motor Electric Fuel System,1-Speed A/T,Red,Black,None reported,Yes,"$99,000"
3,Rivian,R1S Adventure Package,2023,"2,800 mi.",None,835.0HP Electric Motor Electric Fuel System,1-Speed A/T,White,Green,None reported,Yes,"$92,000"
4,Rivian,R1S Adventure Package,2023,"2,500 mi.",None,835.0HP Electric Motor Electric Fuel System,A/T,Green,White,None reported,Yes,"$94,000"
...,...,...,...,...,...,...,...,...,...,...,...,...
165,Tesla,Model Y Long Range,2021,"49,252 mi.",None,Electric,1-Speed Automatic,Deep Blue Metallic,Black,None reported,None,"$37,999"
166,Tesla,Model S 100D,2018,"65,000 mi.",None,518.0HP Electric Motor Electric Fuel System,A/T,Blue,Black,None reported,Yes,"$41,000"
167,Tesla,Model X Performance,2020,"25,535 mi.",None,778.0HP Electric Motor Electric Fuel System,A/T,White,Beige,None reported,Yes,"$68,969"
168,Tesla,Model 3 Long Range,2021,"23,749 mi.",None,Electric,1-Speed Automatic,White,Black,None reported,None,"$35,999"
169,Porsche,Taycan,2022,"2,116 mi.",None,Electric,Automatic,Black,Black,None reported,None,"$90,998"

In [41]:
missing_accident_report = pd.read_sql("""
SELECT *
FROM used_cars
WHERE accident IS NULL OR accident = '';
""", conn)

missing_accident_report

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Genesis,GV70 3.5T Sport,2023,"5,400 mi.",Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Green,Beige,None,None,"$60,000"
1,Subaru,Forester 2.5 X,2004,"210,703 mi.",Gasoline,165.0HP 2.5L 4 Cylinder Engine Gasoline Fuel,M/T,Green,Beige,None,None,"$2,300"
2,Audi,Q7 3.0T Premium Plus,2015,"98,527 mi.",Gasoline,280.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Black,None,None,"$9,995"
3,Lucid,Air Pure,2023,"1,300 mi.",None,620.0HP Electric Motor Electric Fuel System,A/T,Black,Gray,None,None,"$86,900"
4,Audi,TTS 2.0T Premium Plus,2012,"72,922 mi.",Gasoline,265.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,White,Black,None,None,"$25,999"
...,...,...,...,...,...,...,...,...,...,...,...,...
108,Alfa,Romeo Giulia Quadrifoglio,2018,"28,644 mi.",Gasoline,505.0HP 2.9L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Black,Black,None,None,"$41,500"
109,Mazda,CX-5 Grand Touring,2021,"24,781 mi.",Gasoline,2.5L I4 16V GDI DOHC,6-Speed Automatic,Machine Gray Metallic,Black,None,None,"$28,991"
110,Porsche,911 Carrera Cabriolet,1996,"38,000 mi.",–,–,Transmission w/Dual Shift Mode,Blue,Gray,None,None,"$75,000"
111,Porsche,911 Carrera S,2021,"7,008 mi.",Gasoline,443.0HP 3.0L Flat 6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Gray,Black,None,None,"$151,900"
112,Aston,Martin DB7 Vantage Volante,2003,"14,900 mi.",Gasoline,420.0HP 5.9L 12 Cylinder Engine Gasoline Fuel,6-Speed M/T,White,Beige,None,None,"$32,850"

In [42]:
# Step 1: Create a cursor
cursor = conn.cursor()

cursor.execute("""
UPDATE used_cars
SET accident = 'Inspection Required'
WHERE accident IS NULL OR accident = '';
""")

conn.commit()
cursor.close()

In [ ]:
 
missing_accident_report = pd.read_sql("""
SELECT *
FROM used_cars
WHERE accident IS NULL OR accident = '';
""", conn)

missing_accident_report

Empty DataFrame
Columns: [brand, model, model_year, milage, fuel_type, engine, transmission, ext_col, int_col, accident, clean_title, price]
Index: []